DATABASE_URL=postgresql://postgres:postgres@localhost:5433/scrapeflow

# node dev hint
NEXT_PUBLIC_DEV_MODE = false
# api secret key
API_SECRET=
# credentials encryption key
ENCRYPTION_KEY=
# app url
NEXT_PUBLIC_APP_URL= 
APP_URL= 
